services:
 
  dpad_llc_home:
    build: ./frontend
    container_name: dpad_frontend 
    hostname: trading_dashboard 
    restart: always
    volumes:
      - type: bind 
        source: ./frontend/static
        target: /app/static
    ports: 
      - 80:80 
      - 443:443 
    networks:
      - dpad_llc

networks:
  dpad_llc:
    driver: bridge
    name: dpad_llc 

