services:
 
  dpad_llc_home:
    build: ./frontend
    container_name: dpad_frontend 
    hostname: dpad_frontend 
    restart: always
    ports: 
      - 80:80 
      - 443:443 
    networks:
      - dpad_llc

networks:
  dpad_llc:
    driver: bridge
    name: dpad_llc 

