:root {
  --background: #0C1859;
  --foreground: #F5F5F5;

  --red: #F26938;
  --green: #6ED720;
  --yellow: #F4C939;
  --blue: #3621BF;
  --magenta: #A305A6;
  --cyan: #1DF2DD;
}


body {
  background: var(--background);
  color: var(--foreground);
}

