@import './base.css';

* {
  box-sizing: border-box;
}

a {
  color: var(--pink);
}

body {
  margin: 0;
  padding: 0;
  min-height: 80vh;
  background-color: var(--background);
  color: var(--foreground, #1FA6A6);
  font-family: 'Press Start 2P', monospace, system-ui, sans-serif;
  font-size: 12px;  
  display: flex;
  justify-content: center;
}

#app {
  min-height: 90vh;
  min-width: 70vw;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;  
}

footer {
  display: flex;
  flex-shrink: 0;  
  width: 100%;
  justify-content: center;
  color: var(--red);
  gap: 10px;
}

main {
  flex: 1;      
  padding: 2rem;
  width: 100%;
}

.nav-btn-main {
  color: var(--red, #F25C5C);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.nav-btn-main:hover {
  background-color: var(--cyan, #79F2F2);
  color: var(--background, #251140);
  border-color: var(--cyan, #79F2F2);
}

.router-link-active, nav-btn {
  background-color: var(--cyan, #79F2F2);
  color: var(--background, #251140);
}

.visible-div,
.visible-div-light {
  border: 3px solid var(--cyan);
  border-radius: 10px;
  margin-top: 5px;
  background-color: var(--background);
  z-index: 1;

  box-shadow: 
    0 0 4px 2px var(--cyan);

  animation: pulse-glow 3s infinite ease-in-out;
}

.visible-div-light {
  background-color: rgba(var(--background-transparent) / 0.7);
  animation: pulse-glow 4.5s infinite ease-in-out;
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 
      0 0 4px 2px var(--cyan),
      0 0 8px 4px rgba(255, 255, 0, 0.2),
      inset 0 0 8px 2px rgba(255, 255, 0, 0.15);
  }
  50% {
    box-shadow: 
      0 0 10px 5px var(--cyan),
      0 0 15px 10px rgba(255, 255, 0, 0.45),
      inset 0 0 12px 4px rgba(255, 255, 0, 0.3);
  }
}

.nav-bar-wrapper {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 30%;
  margin: 0px auto;
}

.btn {
  background-color: var(--pink);
  padding: 20px;
  border-radius: 7px;
  margin: 10px auto;
  font-size: 20px;
  font-family: 'Press Start 2P', monospace, system-ui, sans-serif;
  box-shadow: 0 0 0px 0px var(--cyan);
  transition: 
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px 4px var(--cyan);
  cursor: pointer;
}

.form-row {
  display: flex;
  align-items: center;
  font-size: 22px;
  width: 100%;
  gap: 1rem;          
}

.form-label {
  text-align: right; 
  font-weight: 500;
  width: 50%;
}

.form-input input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Press Start 2P', monospace, system-ui, sans-serif;
}

@media (max-width: 640px) {
  #app {
    min-height: 70vh;
  }

  .btn {
    font-size: 14px;
    padding: 12px;
  }

}

